/* Global - Icons */
@font-face {
	font-family: 'Icons-Interface';
	src:url('fonts/Icons-Interface.eot');
	src:url('fonts/Icons-Interface.eot?#iefix') format('embedded-opentype'),
		url('fonts/Icons-Interface.svg#Icons-Interface') format('svg'),
		url('fonts/Icons-Interface.woff') format('woff'),
		url('fonts/Icons-Interface.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'Icons-Interface';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-menu:before, .icon-woman:before, .icon-text:before, .icon-smile:before, .icon-community:before, .icon-brain:before, .icon-antenna:before, .icon-search:before, .icon-profile:before, .icon-pie_graph:before, .icon-person:before, .icon-pencil:before, .icon-navigation:before, .icon-man:before, .icon-location:before, .icon-lightbulb:before, .icon-keyhole:before, .icon-key:before, .icon-home:before, .icon-gears:before, .icon-eye:before {
	font-family: 'Icons-Interface';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-menu:before      { content: "\e00f" }
.icon-woman:before     { content: "\e000" }
.icon-text:before      { content: "\e001" }
.icon-smile:before     { content: "\e002" }
.icon-community:before { content: "\e003" }
.icon-brain:before     { content: "\e004" }
.icon-antenna:before   { content: "\e005" }
.icon-search:before    { content: "\e006" }
.icon-profile:before   { content: "\e007" }
.icon-pie_graph:before { content: "\e008" }
.icon-person:before    { content: "\e009" }
.icon-pencil:before    { content: "\e00a" }
.icon-navigation:before{ content: "\e00b" }
.icon-man:before       { content: "\e00c" }
.icon-location:before  { content: "\e00d" }
.icon-lightbulb:before { content: "\e00e" }
.icon-keyhole:before   { content: "\e010" }
.icon-key:before       { content: "\e011" }
.icon-home:before      { content: "\e012" }
.icon-gears:before     { content: "\e013" }
.icon-eye:before       { content: "\e014" }



/* Icons - Topics */
.icons_topics 					{ width: 100px; height: 100px; margin: 0 auto; background-image: url(../images/topics_sprite.png); background-repeat: no-repeat; }
.icons_topics_undecided 		{ background-position: 0px 0px; }	
.icons_topics_alcohol 			{ background-position: -100px 0px; }
.icons_topics_animals 			{ background-position: -200px 0px; }
.icons_topics_clothing 			{ background-position: -300px 0px; }
.icons_topics_culture 			{ background-position: -400px 0px; }
.icons_topics_color 			{ background-position: -500px 0px; }
.icons_topics_family 			{ background-position: 0px -100px; }
.icons_topics_age				{ background-position: -100px -100px; }
.icons_topics_common 			{ background-position: -200px -100px; }
.icons_topics_psychological	 	{ background-position: -300px -100px; }	
.icons_topics_perception 		{ background-position: -400px -100px; }
.icons_topics_moral 			{ background-position: -500px -100px; }
.icons_topics_people 			{ background-position: 0px -200px; }
.icons_topics_names 			{ background-position: -100px -200px; }
.icons_topics_numbers 			{ background-position: -200px -200px; }
.icons_topics_hygiene 			{ background-position: -300px -200px; }
.icons_topics_urban	 			{ background-position: -400px -200px; }
.icons_topics_sports 			{ background-position: -500px -200px; }
.icons_topics_time				{ background-position: 0px -300px; }
.icons_topics_talking 			{ background-position: -100px -300px; }
.icons_topics_food 				{ background-position: -200px -300px; }
.icons_topics_slang 			{ background-position: -300px -300px; }
.icons_topics_home 				{ background-position: -400px -300px; }
.icons_topics_movement 			{ background-position: -500px -300px; }
.icons_topics_social 			{ background-position: 0px -400px; }
.icons_topics_nature 			{ background-position: -100px -400px; }
.icons_topics_love 				{ background-position: -200px -400px; }
.icons_topics_significance 		{ background-position: -300px -400px; }
.icons_topics_legal				{ background-position: -400px -400px; }
.icons_topics_sexuality			{ background-position: -500px -400px; }
.icons_topics_weapons 			{ background-position: 0px -500px; }
.icons_topics_violence 			{ background-position: -100px -500px; }
.icons_topics_objects 			{ background-position: -200px -500px; }
.icons_topics_technology 		{ background-position: -300px -500px; }
.icons_topics_place 			{ background-position: -400px -500px; }
.icons_topics_architecture 		{ background-position: -500px -500px; }
.icons_topics_feeling			{ background-position: 0px -600px; }
.icons_topics_exercise			{ background-position: -100px -600px; }
.icons_topics_music 			{ background-position: -200px -600px; }
.icons_topics_intelligence 		{ background-position: -300px -600px; }


/* Icons - Emoticons */
.emoticons-small-acceptance { background: url(../images/emoticons-small.png) -75px 0px no-repeat; display: inline-block; width: 70px; height: 69px; }
.emoticons-small-amazement  { background: url(../images/emoticons-small.png) -150px 0px no-repeat; display: inline-block; width: 70px; height: 69px; }
.emoticons-small-anger      { background: url(../images/emoticons-small.png) 0px -81px no-repeat; display: inline-block; width: 70px; height: 70px; }
.emoticons-small-annoyed    { background: url(../images/emoticons-small.png) -75px -81px no-repeat; display: inline-block; width: 70px; height: 70px; }
.emoticons-small-cool       { background: url(../images/emoticons-small.png) -150px -81px no-repeat; display: inline-block; width: 70px; height: 69px; }
.emoticons-small-crazy      { background: url(../images/emoticons-small.png) -225px 0px no-repeat; display: inline-block; width: 70px; height: 69px; }
.emoticons-small-disapproval{ background: url(../images/emoticons-small.png) -225px -74px no-repeat; display: inline-block; width: 70px; height: 69px; }
.emoticons-small-disgust    { background: url(../images/emoticons-small.png) 0px -156px no-repeat; display: inline-block; width: 70px; height: 70px; }
.emoticons-small-fear       { background: url(../images/emoticons-small.png) -75px -156px no-repeat; display: inline-block; width: 70px; height: 69px; }
.emoticons-small-goofy      { background: url(../images/emoticons-small.png) -300px 0px no-repeat; display: inline-block; width: 70px; height: 70px; }
.emoticons-small-grief      { background: url(../images/emoticons-small.png) -300px -231px no-repeat; display: inline-block; width: 69px; height: 69px; }
.emoticons-small-happy      { background: url(../images/emoticons-small.png) -300px -75px no-repeat; display: inline-block; width: 70px; height: 70px; }
.emoticons-small-interest   { background: url(../images/emoticons-small.png) -300px -150px no-repeat; display: inline-block; width: 70px; height: 69px; }
.emoticons-small-joy        { background: url(../images/emoticons-small.png) -150px -156px no-repeat; display: inline-block; width: 70px; height: 69px; }
.emoticons-small-loathing   { background: url(../images/emoticons-small.png) 0px -231px no-repeat; display: inline-block; width: 70px; height: 70px; }
.emoticons-small-love       { background: url(../images/emoticons-small.png) -75px -231px no-repeat; display: inline-block; width: 70px; height: 70px; }
.emoticons-small-neutral    { background: url(../images/emoticons-small.png) -225px -156px no-repeat; display: inline-block; width: 70px; height: 69px; }
.emoticons-small-optimism   { background: url(../images/emoticons-small.png) -150px -231px no-repeat; display: inline-block; width: 70px; height: 69px; }
.emoticons-small-rage       { background: url(../images/emoticons-small.png) -375px 0px no-repeat; display: inline-block; width: 70px; height: 70px; }
.emoticons-small-sad        { background: url(../images/emoticons-small.png) -375px -75px no-repeat; display: inline-block; width: 70px; height: 70px; }
.emoticons-small-serenity   { background: url(../images/emoticons-small.png) 0px 0px no-repeat; display: inline-block; width: 70px; height: 76px; }
.emoticons-small-shame      { background: url(../images/emoticons-small.png) -375px -150px no-repeat; display: inline-block; width: 70px; height: 69px; }
.emoticons-small-surprise   { background: url(../images/emoticons-small.png) -375px -224px no-repeat; display: inline-block; width: 70px; height: 69px; }
.emoticons-small-undefined  { background: url(../images/emoticons-small.png) -225px -231px no-repeat; display: inline-block; width: 70px; height: 69px; }

.emoticons-acceptance { background: url(../images/emoticons.png) -994px -692px no-repeat; display: inline-block; width: 326px; height: 324px; }
.emoticons-amazement  { background: url(../images/emoticons.png) -1325px 0px no-repeat; display: inline-block; width: 326px; height: 324px; }
.emoticons-anger      { background: url(../images/emoticons.png) -332px 0px no-repeat; display: inline-block; width: 326px; height: 327px; }
.emoticons-annoyed    { background: url(../images/emoticons.png) -663px 0px no-repeat; display: inline-block; width: 326px; height: 327px; }
.emoticons-cool       { background: url(../images/emoticons.png) -1325px -329px no-repeat; display: inline-block; width: 326px; height: 324px; }
.emoticons-crazy      { background: url(../images/emoticons.png) -1325px -658px no-repeat; display: inline-block; width: 326px; height: 324px; }
.emoticons-disapproval{ background: url(../images/emoticons.png) 0px -1024px no-repeat; display: inline-block; width: 326px; height: 324px; }
.emoticons-disgust    { background: url(../images/emoticons.png) 0px -360px no-repeat; display: inline-block; width: 326px; height: 327px; }
.emoticons-fear       { background: url(../images/emoticons.png) -331px -1024px no-repeat; display: inline-block; width: 326px; height: 324px; }
.emoticons-goofy      { background: url(../images/emoticons.png) -331px -360px no-repeat; display: inline-block; width: 326px; height: 327px; }
.emoticons-grief      { background: url(../images/emoticons.png) -1656px -987px no-repeat; display: inline-block; width: 325px; height: 325px; }
.emoticons-happy      { background: url(../images/emoticons.png) -662px -360px no-repeat; display: inline-block; width: 326px; height: 327px; }
.emoticons-interest   { background: url(../images/emoticons.png) -662px -1024px no-repeat; display: inline-block; width: 326px; height: 324px; }
.emoticons-joy        { background: url(../images/emoticons.png) -993px -1024px no-repeat; display: inline-block; width: 326px; height: 324px; }
.emoticons-loathing   { background: url(../images/emoticons.png) -994px 0px no-repeat; display: inline-block; width: 326px; height: 327px; }
.emoticons-love       { background: url(../images/emoticons.png) -994px -332px no-repeat; display: inline-block; width: 326px; height: 327px; }
.emoticons-neutral    { background: url(../images/emoticons.png) -1324px -1024px no-repeat; display: inline-block; width: 326px; height: 324px; }
.emoticons-optimism   { background: url(../images/emoticons.png) -1656px 0px no-repeat; display: inline-block; width: 326px; height: 324px; }
.emoticons-rage       { background: url(../images/emoticons.png) 0px -692px no-repeat; display: inline-block; width: 326px; height: 327px; }
.emoticons-sad        { background: url(../images/emoticons.png) -331px -692px no-repeat; display: inline-block; width: 326px; height: 327px; }
.emoticons-serenity   { background: url(../images/emoticons.png) 0px 0px no-repeat; display: inline-block; width: 327px; height: 355px; }
.emoticons-shame      { background: url(../images/emoticons.png) -1656px -329px no-repeat; display: inline-block; width: 326px; height: 324px; }
.emoticons-surprise   { background: url(../images/emoticons.png) -1656px -658px no-repeat; display: inline-block; width: 326px; height: 324px; }
.emoticons-undefined  { background: url(../images/emoticons.png) -662px -692px no-repeat; display: inline-block; width: 327px; height: 325px; }

