/* Emoome V1
*  Copyright 2013, Reverse Productions
*  www.emoo.me
*/

/* Lightbox */

	#request_lightbox 				{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 200; background: #000000; filter: alpha(opacity=90); -moz-opacity: 0.95; opacity: .95; display: none; text-align: center; }
	#lightbox_message 				{ width: 400px; text-align: center; position:absolute; font-family: 'Raleway', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, Sans-Serif; font-weight: 100; font-size: 36px; line-height: 48px; top: 100px; left: 50%; margin-top: 0px; margin-left: -200px; }
	.lightbox_message_normal		{ color: #eeeeee !important; }
	.lightbox_message_success		{ color: #eeeeee !important; }
	.lightbox_message_error 		{ color: #b20a0a !important; }



/* Circles */

	.circle-E 	{ .circle(16px, @color-emotional); }
	.circle-I 	{ .circle(20px, @color-intellectual); position: relative; top: -3px; }
	.circle-D 	{ .circle(15px, @color-descriptor); }
	.circle-S 	{ .circle(20px, @color-sensory); position: relative; top: -4px; }
	.circle-P 	{ .circle(16px, @color-physical); }
	.circle-A 	{ .circle(13px, @color-action); position: relative; top: 2px; }
	
	.name_ome	{ color: @base-name-ome; }
	

/* Content (main container) */

	#content .column,
	#content .columns {
		margin-bottom: 15px;
	}


	
/* Index */

	#mobile-name-logo		{ text-align: center; margin: 0 auto 45px auto; }
	#index-logo-circles		{ width: 275px; height: 30px; display: block; margin: 0 auto; }
	#index-logo-circles li	{ float: left; margin: 0 14px; }

	
	img.index-art-top-1		{ margin-top: 25px; }
	div.index-press-quotes a{ margin-bottom: 45px; }
	span.quote_title		{ display: block; font-family: Helvetica, Arial, sans-serif; font-size: 24px; line-height: 24px; }
	span.quote_quote		{ display: block; margin: 10px 25px; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px; }


/* Record */

	#record-sub-controls a { font-size: 36px; line-height: 36px; color: #666; text-decoration: none; }

	
/* Visualize */

	#visualize_language_mood img		{ width: 300px; height: 300px; }
	
	.visualize-language-bar 			{ width: 130px; height: 40px; margin: 0 0 11px 0; }
	.visualize-language-type-color		{ width: 36px; height: 100%; float: left; margin: 4px 10px 0 0; font-size: 36px; line-height: 36px; }
	.visualize-language-type-percent	{ font-size: 24px; line-height: 28px; }	
	.visualize-language-type-type 		{ font-size: 12px; line-height: 12px; color: @base-text-color-light; }

	#visualize-topics				{ margin-top: 60px; }
	.visualize-topic 				{ width: 145px; float: left; margin: 0 2em 2em 0; padding: 1em 0; text-align: center;  border-radius: 5px; font-weight: bold; }
	.visualize-topic-icon			{ font-size: 72px; line-height: 72px; margin-bottom: .25em; }
	.visualize-topic-count			{ color: @base-text-color-light; }
	.visualize-topic-text			{ text-transform: capitalize; }

	#visualize-common				{ margin: 0 0 60px 0; }
	div.common-words				{ width: 100%; margin: 15px 0; padding: 10px 20px; }
	div.common-words-line			{ width: 100%; height: 1px; background: #999999; }
	div.common-words-count			{ width: 80px; height: 100%; margin-right: 20px; text-align: center; float: left; font-size: 36px; line-height: 36px; border-right: 1px solid #333333; }
	div.common-words-words			{ margin-top: 3px; font-style: italic; font-size: 24px; line-height: 30px; color: #888888; text-transform: capitalize; }

	#visualize-experiences			{ margin: 45px 0 60px 0; }
	div.strong-experience			{ margin-bottom: 25px; border-bottom: 1px solid #999; }
	div.strong-experience-circle	{ width: 85px; height: 85px; float: left; margin-bottom: 15px; margin-right: 20px; }
	div.strong-experience-experience{ float: left; display: inline-block; margin-top: 10px; margin-bottom: 15px; font-style: italic; font-size: 24px; line-height: 30px; color: #888888; }
	span.strong-experience-date		{ display: block; font-size: 14px; font-weight: bold; font-style: normal; color: #333333; }


