/* Mobile - All Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}


/* Mobile - Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

	/* Index */
	h1.index-logo				{ display: inline-block; margin: 0 auto 25px auto; font-size: 6em; line-height: 1.5em;}
	img.index-art-top-2			{ display: none; }
	#index-user-signup-form		{ display: none; }


	/* Visualize */
	#visualize_mood_topics svg { width: 75%; height: 75px; }
}


/* Mobile - Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {


	/* Navigation */
	#navigation				{ width: 100%; height: 70px; position: fixed; left: 0px; bottom: 0px; }
	#navigation_info		{ display: none; }
	#navigation_link_home	{ display: block; }
	#navigation_menu {
		width: 100%;
		margin: 0 auto;
		.navigation-menu-devices;
	}


	/* Content (main container) */
	#content { margin-bottom: 150px; }


	/* Index */
	h1.index-logo				{ display: inline-block; margin: 0 auto 25px auto; font-size: 5em; line-height: 1.5em;}
	img.index-art-top-2			{ display: none; }
	#index-user-signup-form		{ display: none; }


	/* Visualize */
	#visualize_common				{ margin: 0 20px 40px 20px; }
	div.common_words				{ width: 100%; margin: 10px 0; padding: 5px 0px; }
	div.common_words_line			{ width: 100%; height: 1px; background: #999999; }
	div.common_words_count			{ width: 50px; height: 100%; margin-right: 10px; text-align: center; float: left; font-size: 24px; border-right: 1px solid #333333; }
	div.common_words_words			{ margin-top: 2px; font-style: italic; font-size: 18px; line-height: 21px; color: #888888; text-transform: capitalize; }

	#visualize_experiences			{ margin: 0 0 40px 20px; }
	div.strong_experience			{ margin: 15px 0 15px 0; }
	div.strong_experience_circle	{ width: 40; float: left; }
	div.strong_experience_experience{ width: 240px; float: left; margin-top: 0px; margin-left: 8px; font-style: italic; font-size: 14px; line-height: 18px; color: #888888; }
	span.strong_experience_date		{ display: block; margin-left: 0px; font-size: 11px; font-weight: bold; font-style: normal; color: #333333; }

}