/* =============== Tablet Style =============== */
	
@media only screen and (max-width: 1024px) {

	/* Navigation */
	#navigation							{ width: 100%; position: fixed; left: 0px; bottom: 0px; }	
	#navigation a 						{ .mobile-no-select }

	.navigation_title					{ margin-top: 0.25em; font-size: 2.45em; }
	.navigation_title a					{ text-decoration: none; }

	.navigation_avatar img 				{ width: 32px; height: 32px; border-radius: 4px; }
	.navigation_name					{ float: left; font-size: 18px; }

	#navigation_logo 					{ display: none; }

	#navigation_menu					{ float: right; display: block; }
	#navigation_menu ul 				{ margin: 0; padding: 0; }
	#navigation_menu ul li				{ float: left; margin: 0 0 0 30px; }

	
	/* Content */	
		
}