h1	{ font-size: 48px; color: green; }
h2	{ font-size: 36px; color: green; }
h3	{ font-size: 30px; color: green; }

#lightbox_message 		{ width: 300px; text-align: center; position:absolute; font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, Sans-Serif; font-weight: 100; font-size: 24px; line-height: 30px; top: 20px; left: 50%; margin-top: 0px; margin-left: -150px; }

div.content_left		{ width: 300px; margin-right: auto; float: left; }
div.content_center		{ width: 300px; margin-left: auto; margin-right: auto; }
div.text_center			{ text-align: center; }
div.text_left			{ text-align: left; }
div.text_right			{ text-align: right; }
