/* HTML5 Reset */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio[controls],
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  background: #e9e8e8;
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 1.25em;
  font-family: Helvetica, Arial, Sans-serif;
}
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #333333;
}
::-moz-selection {
  background: #d9d9d9;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #d9d9d9;
  color: #fff;
  text-shadow: none;
}
a {
  color: #666666;
  text-decoration: none;
}
a:visited {
  color: #666666;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
  color: #333333;
  text-decoration: underline;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 0px;
  list-style: none;
}
ul li,
ol li {
  margin: 10px 0;
  padding: 0;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}
label {
  cursor: pointer;
  font-style: italic;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
}
input[type="search"] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Base Styles (is in both web & mobile) */
@font-face {
  font-family: 'Raleway';
  src: url('raleway_thin-webfont.eot');
  src: url('raleway_thin-webfont.eot?#iefix') format('embedded-opentype'), url('raleway_thin-webfont.woff') format('woff'), url('raleway_thin-webfont.ttf') format('truetype'), url('raleway_thin-webfont.svg#Helvetica Neue') format('svg');
}
h1,
h2,
h3 {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
  font-weight: 100;
  margin: 0;
  padding: 0;
}
p {
  font-size: 1em;
  line-height: 1.75em;
  margin: 1.5em 0;
}
::-moz-selection {
  background: #d5d5d5;
  color: #eeeeee;
  text-shadow: none;
}
::selection {
  background: #d5d5d5;
  color: #eeeeee;
  text-shadow: none;
}
/* Global - Form Fields */
input[type=text],
input[type=password],
input[type=email],
input[type=url] {
  height: 32px;
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  margin: 5px 10px 15px 0px;
  padding: 2px 10px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  border: 1px solid #999999;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=url]:focus {
  height: 32px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  border: 1px solid #999999;
}
::-webkit-input-placeholder {
  color: #dddddd;
}
:-moz-placeholder {
  color: #dddddd;
}
textarea {
  min-height: 32px;
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  line-height: 24px;
  margin: 5px 10px 15px 0px;
  padding: 10px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  border: 1px solid #999999;
}
textarea:focus {
  min-height: 32px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  border: 1px solid #999999;
}
select {
  margin: 10px 10px 25px 0px;
}
input[type=submit],
input[type=button],
button {
  padding: 10px 15px;
  color: #eeeeee;
  text-decoration: none;
  text-shadow: 1px 1px 1px #333333;
  border-radius: 10px;
  border: 1px solid #555555;
  background-color: #999999;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#666666));
  background-image: -webkit-linear-gradient(top, #999999, #666666);
  background-image: -moz-linear-gradient(top, #999999, #666666);
  background-image: -o-linear-gradient(top, #999999, #666666);
  background-image: -ms-linear-gradient(top, #999999, #666666);
  background-image: linear-gradient(top, #999999, #666666);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#999999', EndColorStr='#666666');
}
input[type=submit]:hover,
input[type=button]:hover,
button:hover {
  border: 1px solid #444444;
  background-color: #666666;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#888888));
  background-image: -webkit-linear-gradient(top, #666666, #888888);
  background-image: -moz-linear-gradient(top, #666666, #888888);
  background-image: -o-linear-gradient(top, #666666, #888888);
  background-image: -ms-linear-gradient(top, #666666, #888888);
  background-image: linear-gradient(top, #666666, #888888);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#666666', EndColorStr='#888888');
}
/* Global - LESS Mixins */
.mobile-no-select {
  -moz-user-select: none;
  -webkit-user-select: none;
}
/* Global - Classes */
.clear {
  clear: both;
}
.content_center {
  margin-left: auto;
  margin-right: auto;
}
.content_left {
  margin-right: auto;
  float: left;
}
.content_right {
  margin-left: auto;
  float: right;
}
.text_center {
  text-align: center;
}
.text_left {
  text-align: left;
}
.text_right {
  text-align: right;
}
.name_ome {
  color: #818181;
}
/* Global - Icons & Buttons */
/* Global - Icons */
@font-face {
  font-family: 'Icons-Interface';
  src: url('fonts/Icons-Interface.eot');
  src: url('fonts/Icons-Interface.eot?#iefix') format('embedded-opentype'), url('fonts/Icons-Interface.svg#Icons-Interface') format('svg'), url('fonts/Icons-Interface.woff') format('woff'), url('fonts/Icons-Interface.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'Icons-Interface';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-menu:before,
.icon-woman:before,
.icon-text:before,
.icon-smile:before,
.icon-community:before,
.icon-brain:before,
.icon-antenna:before,
.icon-search:before,
.icon-profile:before,
.icon-pie_graph:before,
.icon-person:before,
.icon-pencil:before,
.icon-navigation:before,
.icon-man:before,
.icon-location:before,
.icon-lightbulb:before,
.icon-keyhole:before,
.icon-key:before,
.icon-home:before,
.icon-gears:before,
.icon-eye:before {
  font-family: 'Icons-Interface';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-menu:before {
  content: "\e00f";
}
.icon-woman:before {
  content: "\e000";
}
.icon-text:before {
  content: "\e001";
}
.icon-smile:before {
  content: "\e002";
}
.icon-community:before {
  content: "\e003";
}
.icon-brain:before {
  content: "\e004";
}
.icon-antenna:before {
  content: "\e005";
}
.icon-search:before {
  content: "\e006";
}
.icon-profile:before {
  content: "\e007";
}
.icon-pie_graph:before {
  content: "\e008";
}
.icon-person:before {
  content: "\e009";
}
.icon-pencil:before {
  content: "\e00a";
}
.icon-navigation:before {
  content: "\e00b";
}
.icon-man:before {
  content: "\e00c";
}
.icon-location:before {
  content: "\e00d";
}
.icon-lightbulb:before {
  content: "\e00e";
}
.icon-keyhole:before {
  content: "\e010";
}
.icon-key:before {
  content: "\e011";
}
.icon-home:before {
  content: "\e012";
}
.icon-gears:before {
  content: "\e013";
}
.icon-eye:before {
  content: "\e014";
}
/* Icons - Topics */
.icons_topics {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-image: url(../images/topics_sprite.png);
  background-repeat: no-repeat;
}
.icons_topics_undecided {
  background-position: 0px 0px;
}
.icons_topics_alcohol {
  background-position: -100px 0px;
}
.icons_topics_animals {
  background-position: -200px 0px;
}
.icons_topics_clothing {
  background-position: -300px 0px;
}
.icons_topics_culture {
  background-position: -400px 0px;
}
.icons_topics_color {
  background-position: -500px 0px;
}
.icons_topics_family {
  background-position: 0px -100px;
}
.icons_topics_age {
  background-position: -100px -100px;
}
.icons_topics_common {
  background-position: -200px -100px;
}
.icons_topics_psychological {
  background-position: -300px -100px;
}
.icons_topics_perception {
  background-position: -400px -100px;
}
.icons_topics_moral {
  background-position: -500px -100px;
}
.icons_topics_people {
  background-position: 0px -200px;
}
.icons_topics_names {
  background-position: -100px -200px;
}
.icons_topics_numbers {
  background-position: -200px -200px;
}
.icons_topics_hygiene {
  background-position: -300px -200px;
}
.icons_topics_urban {
  background-position: -400px -200px;
}
.icons_topics_sports {
  background-position: -500px -200px;
}
.icons_topics_time {
  background-position: 0px -300px;
}
.icons_topics_talking {
  background-position: -100px -300px;
}
.icons_topics_food {
  background-position: -200px -300px;
}
.icons_topics_slang {
  background-position: -300px -300px;
}
.icons_topics_home {
  background-position: -400px -300px;
}
.icons_topics_movement {
  background-position: -500px -300px;
}
.icons_topics_social {
  background-position: 0px -400px;
}
.icons_topics_nature {
  background-position: -100px -400px;
}
.icons_topics_love {
  background-position: -200px -400px;
}
.icons_topics_significance {
  background-position: -300px -400px;
}
.icons_topics_legal {
  background-position: -400px -400px;
}
.icons_topics_sexuality {
  background-position: -500px -400px;
}
.icons_topics_weapons {
  background-position: 0px -500px;
}
.icons_topics_violence {
  background-position: -100px -500px;
}
.icons_topics_objects {
  background-position: -200px -500px;
}
.icons_topics_technology {
  background-position: -300px -500px;
}
.icons_topics_place {
  background-position: -400px -500px;
}
.icons_topics_architecture {
  background-position: -500px -500px;
}
.icons_topics_feeling {
  background-position: 0px -600px;
}
.icons_topics_exercise {
  background-position: -100px -600px;
}
.icons_topics_music {
  background-position: -200px -600px;
}
.icons_topics_intelligence {
  background-position: -300px -600px;
}
/* Icons - Emoticons */
.emoticons-small-acceptance {
  background: url(../images/emoticons-small.png) -75px 0px no-repeat;
  display: inline-block;
  width: 70px;
  height: 69px;
}
.emoticons-small-amazement {
  background: url(../images/emoticons-small.png) -150px 0px no-repeat;
  display: inline-block;
  width: 70px;
  height: 69px;
}
.emoticons-small-anger {
  background: url(../images/emoticons-small.png) 0px -81px no-repeat;
  display: inline-block;
  width: 70px;
  height: 70px;
}
.emoticons-small-annoyed {
  background: url(../images/emoticons-small.png) -75px -81px no-repeat;
  display: inline-block;
  width: 70px;
  height: 70px;
}
.emoticons-small-cool {
  background: url(../images/emoticons-small.png) -150px -81px no-repeat;
  display: inline-block;
  width: 70px;
  height: 69px;
}
.emoticons-small-crazy {
  background: url(../images/emoticons-small.png) -225px 0px no-repeat;
  display: inline-block;
  width: 70px;
  height: 69px;
}
.emoticons-small-disapproval {
  background: url(../images/emoticons-small.png) -225px -74px no-repeat;
  display: inline-block;
  width: 70px;
  height: 69px;
}
.emoticons-small-disgust {
  background: url(../images/emoticons-small.png) 0px -156px no-repeat;
  display: inline-block;
  width: 70px;
  height: 70px;
}
.emoticons-small-fear {
  background: url(../images/emoticons-small.png) -75px -156px no-repeat;
  display: inline-block;
  width: 70px;
  height: 69px;
}
.emoticons-small-goofy {
  background: url(../images/emoticons-small.png) -300px 0px no-repeat;
  display: inline-block;
  width: 70px;
  height: 70px;
}
.emoticons-small-grief {
  background: url(../images/emoticons-small.png) -300px -231px no-repeat;
  display: inline-block;
  width: 69px;
  height: 69px;
}
.emoticons-small-happy {
  background: url(../images/emoticons-small.png) -300px -75px no-repeat;
  display: inline-block;
  width: 70px;
  height: 70px;
}
.emoticons-small-interest {
  background: url(../images/emoticons-small.png) -300px -150px no-repeat;
  display: inline-block;
  width: 70px;
  height: 69px;
}
.emoticons-small-joy {
  background: url(../images/emoticons-small.png) -150px -156px no-repeat;
  display: inline-block;
  width: 70px;
  height: 69px;
}
.emoticons-small-loathing {
  background: url(../images/emoticons-small.png) 0px -231px no-repeat;
  display: inline-block;
  width: 70px;
  height: 70px;
}
.emoticons-small-love {
  background: url(../images/emoticons-small.png) -75px -231px no-repeat;
  display: inline-block;
  width: 70px;
  height: 70px;
}
.emoticons-small-neutral {
  background: url(../images/emoticons-small.png) -225px -156px no-repeat;
  display: inline-block;
  width: 70px;
  height: 69px;
}
.emoticons-small-optimism {
  background: url(../images/emoticons-small.png) -150px -231px no-repeat;
  display: inline-block;
  width: 70px;
  height: 69px;
}
.emoticons-small-rage {
  background: url(../images/emoticons-small.png) -375px 0px no-repeat;
  display: inline-block;
  width: 70px;
  height: 70px;
}
.emoticons-small-sad {
  background: url(../images/emoticons-small.png) -375px -75px no-repeat;
  display: inline-block;
  width: 70px;
  height: 70px;
}
.emoticons-small-serenity {
  background: url(../images/emoticons-small.png) 0px 0px no-repeat;
  display: inline-block;
  width: 70px;
  height: 76px;
}
.emoticons-small-shame {
  background: url(../images/emoticons-small.png) -375px -150px no-repeat;
  display: inline-block;
  width: 70px;
  height: 69px;
}
.emoticons-small-surprise {
  background: url(../images/emoticons-small.png) -375px -224px no-repeat;
  display: inline-block;
  width: 70px;
  height: 69px;
}
.emoticons-small-undefined {
  background: url(../images/emoticons-small.png) -225px -231px no-repeat;
  display: inline-block;
  width: 70px;
  height: 69px;
}
.emoticons-acceptance {
  background: url(../images/emoticons.png) -994px -692px no-repeat;
  display: inline-block;
  width: 326px;
  height: 324px;
}
.emoticons-amazement {
  background: url(../images/emoticons.png) -1325px 0px no-repeat;
  display: inline-block;
  width: 326px;
  height: 324px;
}
.emoticons-anger {
  background: url(../images/emoticons.png) -332px 0px no-repeat;
  display: inline-block;
  width: 326px;
  height: 327px;
}
.emoticons-annoyed {
  background: url(../images/emoticons.png) -663px 0px no-repeat;
  display: inline-block;
  width: 326px;
  height: 327px;
}
.emoticons-cool {
  background: url(../images/emoticons.png) -1325px -329px no-repeat;
  display: inline-block;
  width: 326px;
  height: 324px;
}
.emoticons-crazy {
  background: url(../images/emoticons.png) -1325px -658px no-repeat;
  display: inline-block;
  width: 326px;
  height: 324px;
}
.emoticons-disapproval {
  background: url(../images/emoticons.png) 0px -1024px no-repeat;
  display: inline-block;
  width: 326px;
  height: 324px;
}
.emoticons-disgust {
  background: url(../images/emoticons.png) 0px -360px no-repeat;
  display: inline-block;
  width: 326px;
  height: 327px;
}
.emoticons-fear {
  background: url(../images/emoticons.png) -331px -1024px no-repeat;
  display: inline-block;
  width: 326px;
  height: 324px;
}
.emoticons-goofy {
  background: url(../images/emoticons.png) -331px -360px no-repeat;
  display: inline-block;
  width: 326px;
  height: 327px;
}
.emoticons-grief {
  background: url(../images/emoticons.png) -1656px -987px no-repeat;
  display: inline-block;
  width: 325px;
  height: 325px;
}
.emoticons-happy {
  background: url(../images/emoticons.png) -662px -360px no-repeat;
  display: inline-block;
  width: 326px;
  height: 327px;
}
.emoticons-interest {
  background: url(../images/emoticons.png) -662px -1024px no-repeat;
  display: inline-block;
  width: 326px;
  height: 324px;
}
.emoticons-joy {
  background: url(../images/emoticons.png) -993px -1024px no-repeat;
  display: inline-block;
  width: 326px;
  height: 324px;
}
.emoticons-loathing {
  background: url(../images/emoticons.png) -994px 0px no-repeat;
  display: inline-block;
  width: 326px;
  height: 327px;
}
.emoticons-love {
  background: url(../images/emoticons.png) -994px -332px no-repeat;
  display: inline-block;
  width: 326px;
  height: 327px;
}
.emoticons-neutral {
  background: url(../images/emoticons.png) -1324px -1024px no-repeat;
  display: inline-block;
  width: 326px;
  height: 324px;
}
.emoticons-optimism {
  background: url(../images/emoticons.png) -1656px 0px no-repeat;
  display: inline-block;
  width: 326px;
  height: 324px;
}
.emoticons-rage {
  background: url(../images/emoticons.png) 0px -692px no-repeat;
  display: inline-block;
  width: 326px;
  height: 327px;
}
.emoticons-sad {
  background: url(../images/emoticons.png) -331px -692px no-repeat;
  display: inline-block;
  width: 326px;
  height: 327px;
}
.emoticons-serenity {
  background: url(../images/emoticons.png) 0px 0px no-repeat;
  display: inline-block;
  width: 327px;
  height: 355px;
}
.emoticons-shame {
  background: url(../images/emoticons.png) -1656px -329px no-repeat;
  display: inline-block;
  width: 326px;
  height: 324px;
}
.emoticons-surprise {
  background: url(../images/emoticons.png) -1656px -658px no-repeat;
  display: inline-block;
  width: 326px;
  height: 324px;
}
.emoticons-undefined {
  background: url(../images/emoticons.png) -662px -692px no-repeat;
  display: inline-block;
  width: 327px;
  height: 325px;
}
/* Global - Buttons */
a.button {
  padding: 10px 15px;
  color: #eeeeee;
  text-decoration: none;
  text-shadow: 1px 1px 1px #333333;
  border-radius: 10px;
  border: 1px solid #555555;
  background-color: #999999;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#666666));
  background-image: -webkit-linear-gradient(top, #999999, #666666);
  background-image: -moz-linear-gradient(top, #999999, #666666);
  background-image: -o-linear-gradient(top, #999999, #666666);
  background-image: -ms-linear-gradient(top, #999999, #666666);
  background-image: linear-gradient(top, #999999, #666666);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#999999', EndColorStr='#666666');
}
a.button:hover {
  border: 1px solid #444444;
  background-color: #666666;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#888888));
  background-image: -webkit-linear-gradient(top, #666666, #888888);
  background-image: -moz-linear-gradient(top, #666666, #888888);
  background-image: -o-linear-gradient(top, #666666, #888888);
  background-image: -ms-linear-gradient(top, #666666, #888888);
  background-image: linear-gradient(top, #666666, #888888);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#666666', EndColorStr='#888888');
}
a.list_button {
  display: block;
  border: 1px solid #a3a3a3;
  color: #333333;
  border-radius: 15px;
  margin: 15px 0 25px 0;
  padding: 23px 20px 15px 20px;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
  font-size: 30px;
  line-height: 30px;
  text-decoration: none;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
  background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -o-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -ms-linear-gradient(top, #ffffff, #eeeeee);
  background-image: linear-gradient(top, #ffffff, #eeeeee);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#eeeeee');
}
a.list_button:hover {
  border: 1px solid #666666;
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #eeeeee, #ffffff);
  background-image: -moz-linear-gradient(top, #eeeeee, #ffffff);
  background-image: -o-linear-gradient(top, #eeeeee, #ffffff);
  background-image: -ms-linear-gradient(top, #eeeeee, #ffffff);
  background-image: linear-gradient(top, #eeeeee, #ffffff);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#eeeeee', EndColorStr='#ffffff');
}
a.list_button span {
  float: left;
}
/* Global - Lightbox */
#request_lightbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background: #000000;
  filter: alpha(opacity=90);
  -moz-opacity: 0.95;
  opacity: .95;
  display: none;
  text-align: center;
}
#lightbox_message {
  width: 400px;
  text-align: center;
  position: absolute;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
  font-weight: 100;
  font-size: 36px;
  line-height: 48px;
  top: 100px;
  left: 50%;
  margin-top: 0px;
  margin-left: -200px;
}
.lightbox_message_normal {
  color: #eeeeee !important;
}
.lightbox_message_success {
  color: #eeeeee !important;
}
.lightbox_message_error {
  color: #b20a0a !important;
}
/* Globa - Navigation */
#navigation {
  background: #222222;
  margin: 0;
  padding: 0;
  z-index: 10;
  color: #eeeeee;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
  font-weight: 100;
}
#navigation a {
  color: #eeeeee;
  text-decoration: none;
}
#navigation a:hover {
  color: #aaaaaa;
}
#navigation span.name_ome {
  color: #818181;
}
#navigation_info {
  float: left;
  margin: 1em;
}
#navigation_avatar {
  float: left;
}
#navigation_menu ul {
  display: none;
  list-style: none;
}
#navigation_menu_toggle {
  display: none;
}
/* Device Specific */
/* =============== Mobile Style =============== */
@media only screen and (max-width: 480px) {
  /* Navigation */
  #navigation {
    width: 100%;
    position: fixed;
    left: 0px;
    bottom: 0px;
  }
  #navigation a {
    -moz-user-select: none;
    -webkit-user-select: none;
  }
  .navigation_title {
    margin: 0.4em;
    font-size: 2em;
  }
  .navigation_title a {
    text-decoration: none;
  }
  .navigation_avatar img {
    width: 24px;
    height: 24px;
    border-radius: 3px;
  }
  .navigation_name {
    font-size: 1.75em;
  }
  #navigation_logo {
    display: none;
  }
  #navigation_menu_toggle {
    display: block;
    float: right;
    cursor: pointer;
    color: #eeeeee;
    font-size: 2em;
    margin: 0.25em 0.25em 0 0;
  }
  /* Make links non selectable for mobile */
  #navigation_menu {
    width: 100%;
    display: none;
    background: red;
  }
  #navigation_menu ul {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #navigation_menu ul li {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-top: 1px solid #aaaaaa;
  }
  #navigation_menu a {
    margin: 0.25em 0 0 0.25em;
    font-size: 1.25em;
  }
  /* Content */
  #container {
    min-height: 380px;
    position: relative;
    top: 15px;
    left: 0px;
  }
  #footer {
    text-align: center;
    margin: 60px auto 115px auto;
  }
  #footer a {
    margin: 0 20px 0px 20px;
  }
  /* Index - Classes */
  div.info_bubble_container {
    max-width: 240px;
    margin: 0 auto;
  }
  div.info_bubble {
    background: #d9d9d9;
    border-radius: 10px;
    margin: 0 auto;
    padding: 15px;
  }
  div.info_bubble_arrow_left {
    width: 50px;
    height: 36px;
    position: relative;
    top: 0px;
    left: 50px;
    background: url(../images/mobile_sprite_index.png) 0px -770px no-repeat;
  }
  div.info_bubble_arrow_right {
    width: 50px;
    height: 36px;
    position: relative;
    top: 0px;
    left: 150px;
    background: url(../images/mobile_sprite_index.png) -50px -770px no-repeat;
  }
  div.info_bubble span.icons {
    float: left;
    margin: 3px 5px 0 0;
  }
  div.info_bubble h2 {
    float: left;
    margin-left: 0px;
    line-height: 24px;
  }
  div.info_bubble p {
    float: left;
    margin: 0px;
  }
  h2.info_header {
    margin: 0 auto 25px auto;
  }
  p.info_text {
    max-width: 280px;
    text-align: center;
    margin: 0 auto 25px auto;
    line-height: 21px;
  }
  /* Index IDs */
  #content_index {
    text-align: center;
  }
  #index_image_record {
    width: 258px;
    height: 222px;
    margin: 0 auto 20px auto;
    background: url(../images/mobile_sprite_index.png) 0 0 no-repeat;
  }
  #index_image_visualize {
    width: 260px;
    height: 315px;
    margin: 0 auto 40px auto;
    background: url(../images/mobile_sprite_index.png) 0 -220px no-repeat;
  }
  #index_image_discover {
    width: 280px;
    height: 132px;
    margin: 0 auto 40px auto;
    background: url(../images/mobile_sprite_index.png) 0 -535px no-repeat;
  }
  #index_define {
    width: 275px;
    margin: 40px auto;
    font-size: 14px;
    line-height: 21px;
  }
  #index_quotes {
    width: 280px;
    margin: 0px auto 0 auto;
    text-align: center;
  }
  #index_quotes a {
    display: block;
    color: #333333;
    text-decoration: none;
    letter-spacing: -0.5px;
    margin-bottom: 45px;
  }
  span.quote_quote {
    display: block;
    margin: 10px 0px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
  }
  span.quote_image {
    display: block;
    margin: 15px auto;
  }
  span.quote_image_rww {
    width: 198px;
    height: 40px;
    background: url(../images/mobile_sprite_index.png) 0px -680px no-repeat;
  }
  span.quote_image_silicon {
    width: 202px;
    height: 40px;
    background: url(../images/mobile_sprite_index.png) 0px -720px no-repeat;
  }
  /* Visualize - Your Language */
  #visualize_language {
    margin: 0 0 40px 20px;
  }
  #person_circles {
    width: 100%;
    min-height: 100px;
    margin: 0px 0 0 0;
  }
  div.person_circles_circle {
    height: 100px;
    float: left;
    margin: 20px 20px 20px 0;
    font-size: 12px;
    text-align: center;
  }
  /* Visualize - Common Words */
  #visualize_common {
    margin: 0 20px 40px 20px;
  }
  div.common_words {
    width: 100%;
    margin: 10px 0;
    padding: 5px 0px;
  }
  div.common_words_line {
    width: 100%;
    height: 1px;
    background: #999999;
  }
  div.common_words_count {
    width: 50px;
    height: 100%;
    margin-right: 10px;
    text-align: center;
    float: left;
    font-size: 24px;
    border-right: 1px solid #333333;
  }
  div.common_words_words {
    margin-top: 2px;
    font-style: italic;
    font-size: 18px;
    line-height: 21px;
    color: #888888;
    text-transform: capitalize;
  }
  /* Visualize - Strong Experiences */
  #visualize_experiences {
    margin: 0 0 40px 20px;
  }
  div.strong_experience {
    margin: 15px 0 15px 0;
  }
  div.strong_experience_circle {
    width: 40;
    float: left;
  }
  div.strong_experience_experience {
    width: 240px;
    float: left;
    margin-top: 0px;
    margin-left: 8px;
    font-style: italic;
    font-size: 14px;
    line-height: 18px;
    color: #888888;
  }
  span.strong_experience_date {
    display: block;
    margin-left: 0px;
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    color: #333333;
  }
}
/* =============== Tablet Style =============== */
@media only screen and (max-width: 1024px) {
  /* Navigation */
  #navigation {
    width: 100%;
    position: fixed;
    left: 0px;
    bottom: 0px;
  }
  #navigation a {
    -moz-user-select: none;
    -webkit-user-select: none;
  }
  .navigation_title {
    margin-top: 0.25em;
    font-size: 2.45em;
  }
  .navigation_title a {
    text-decoration: none;
  }
  .navigation_avatar img {
    width: 32px;
    height: 32px;
    border-radius: 4px;
  }
  .navigation_name {
    float: left;
    font-size: 18px;
  }
  #navigation_logo {
    display: none;
  }
  #navigation_menu {
    float: right;
    display: block;
  }
  #navigation_menu ul {
    margin: 0;
    padding: 0;
  }
  #navigation_menu ul li {
    float: left;
    margin: 0 0 0 30px;
  }
  /* Content */
}
/* =============== Web Style =============== */
@media only screen and (min-width: 1025px) {
  /* Navigation */#navigation {
    width: 100%;
    height: 70px;
    position: fixed;
    left: 0px;
    top: 0px;
  }
  #navigation a {
    -moz-user-select: none;
    -webkit-user-select: none;
  }
  #navigation_info {
    width: 350px;
    float: left;
    margin: 11px 0 0 30px;
  }
  .navigation_title {
    font-size: 48px;
    line-height: 48px;
  }
  .navigation_title a {
    text-decoration: none;
  }
  .navigation_avatar {
    float: left;
    margin-right: 0.5em;
  }
  .navigation_avatar img {
    width: 48px;
    height: 48px;
    border-radius: 5px;
  }
  .navigation_name {
    float: left;
    font-size: 2.25em;
  }
  #navigation_logo {
    width: 150px;
    height: 25px;
    cursor: pointer;
    margin: 10px auto 0 auto;
  }
  #navigation_menu {
    min-width: 100px;
    height: 36px;
    display: block;
    float: right;
    margin: 20px 30px 0 0;
    padding: 0;
    list-style: none;
  }
  #navigation_menu ul {
    height: 30px;
    margin: 0;
    padding: 0;
  }
  #navigation_menu ul li {
    height: 30px;
    float: left;
    margin: 0 0 0 45px;
    padding: 0;
    text-align: center;
    font-size: 24px;
    line-height: 24px;
  }
  #navigation_menu a {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 24px;
  }
  #navigation_menu a span.navigation_icons {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 24px;
  }
  #navigation_menu a:hover span.navigation_icons {
    color: #aaaaaa;
  }
  #navigation_menu a.selected {
    background: #eeeeee;
    color: #222222;
    padding: 0.35em;
    border-radius: 10px;
  }
  #navigation_menu a.selected:hover {
    cursor: default;
  }
  #navigation_menu a.selected:hover span.navigation_icons {
    color: #222222;
  }
  /* Content */
  #container {
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0px;
    margin: 0;
    padding: 0;
  }
  #content {
    margin: 30px;
  }
  #content h1 {
    font-size: 60px;
    line-height: 72px;
  }
  div.topic_container {
    width: 110px;
    min-height: 120px;
    text-align: center;
  }
  span.topic_count {
    width: 15px;
    display: block;
    text-align: center;
    background-color: #c9c9c9;
    padding: 5px;
    border-radius: 7px;
    color: #333;
    font-size: 12px;
    font-weight: bold;
    float: left;
  }
  span.topic_text {
    display: block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    margin-left: 5px;
  }
  div.content_left {
    width: 450px;
  }
  div.content_center {
    width: 450px;
  }
  /* Index */
  #content_index {
    width: 900px;
    margin: 0 auto;
  }
  #index_define {
    width: 900px;
    margin-bottom: 45px;
    font-size: 14px;
    line-height: 21px;
  }
  #index_define p {
    width: 450px;
    display: block;
    float: left;
  }
  #index_content_1 {
    width: 872px;
    height: 440px;
    background: url(../images/web_sprite_index.png) 0 0 no-repeat;
  }
  #index_content_2 {
    width: 475px;
    height: 477px;
    background: url(../images/web_sprite_index.png) 0 -440px no-repeat;
    float: left;
    margin-right: 20px;
  }
  #index_signup {
    width: 355px;
    float: left;
    margin-top: 30px;
  }
  #index_signup h2 {
    font-size: 48px;
    margin: 0;
  }
  #index_signup h3 {
    font-size: 18px;
    margin: 0 0 25px 0;
  }
  #index_quotes {
    width: 900px;
    margin-top: 40px;
    text-align: center;
  }
  .index_container {
    width: 900px;
    margin: 0 auto;
  }
  .index_content {
    margin-bottom: 45px;
  }
  .index_content h1 {
    width: 90%;
    font-size: 72px;
    border-bottom: 1px solid #999999;
    padding: 5px 0px;
    line-height: 72px;
    margin: 0px auto;
  }
  .index_content h2 {
    display: none;
  }
  div.quote_container {
    width: 440px;
    float: left;
    margin: 30px 10px 0 0;
    text-align: center;
  }
  div.quote_container a {
    color: #333333;
    text-decoration: none;
    letter-spacing: -0.5px;
  }
  div.quote_container a:hover {
    color: #666666;
  }
  span.quote_title {
    display: block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 24px;
  }
  span.quote_quote {
    display: block;
    margin: 10px 25px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
  }
  span.quote_image {
    display: block;
    margin: 15px auto;
    background-image: url(../images/web_sprite_index.png);
    background-repeat: no-repeat;
  }
  span.quote_image_rww {
    width: 255px;
    height: 50px;
    background-position: -500px -440px;
  }
  span.quote_image_silicon {
    width: 328px;
    height: 50px;
    background-position: -500px -500px;
  }
  /* Reused Interface Controls */
  div.left_control_container {
    width: 34px;
    min-height: 34px;
    position: absolute;
    top: 250px;
    left: 25px;
    float: left;
  }
  div.left_control_links {
    margin: 25px 0px;
  }
  div.right_control_container {
    width: 90%;
    float: left;
    position: absolute;
    top: 0px;
    left: 75px;
  }
  /* Record - Feeling - Text */
  #log_describe_this {
    font-family: Times, serif;
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    color: #999999;
  }
  /* Record - Feeling - Emoticons */
  #record_feeling_emoticons {
    width: 90%;
    min-width: 465px;
    height: 450px;
    overflow: scroll;
    margin: 0 auto;
  }
  #emoticons {
    height: 425px;
  }
  div.emoticon_item {
    width: 365px;
    height: 425px;
    margin: 0px 25px;
    display: block;
    float: left;
    border-radius: 60px;
    color: #999;
    font-size: 18px;
    text-align: center;
  }
  div.emoticon_item:hover {
    cursor: pointer;
    text-decoration: none;
  }
  div.record_feeling_emoticon {
    height: 360px;
    margin-top: 25px;
  }
  /* Record - Feeling - Audio */
  #record_feeling_audio {
    width: 450px;
    margin: 0 auto;
    text-align: center;
  }
  /* Record - Thanks */#log_thanks_view h3 {
    margin: 1em 0px;
  }
  /* Visualize - Waiting */
  #visualize_waiting {
    display: none;
  }
  #visualize_waiting a.button {
    margin-top: 3em;
  }
  #visualize_logs_needed {
    width: 150px;
    margin: 35px auto;
    background: #d3d3d3;
    border-radius: 15px;
    padding: 25px 35px;
  }
  #visualize_logs_needed p {
    margin: 0;
    font-size: 16px;
    text-transform: capitalize;
    line-height: 21px;
  }
  #visualize_logs_needed_count {
    margin: 25px 0;
    padding: 0;
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 60px;
    line-height: 60px;
    font-weight: bold;
    color: #333333;
  }
  /* Visualize - Summary */
  #visualize_summary h1 {
    display: inline-block;
  }
  #visualize_navigation {
    float: right;
    margin: 1em 0 0 0;
  }
  #visualize_language {
    min-width: 335px;
    width: 45%;
    min-height: 435px;
    float: left;
    margin: 2em 2em 2em 0;
  }
  #visualize_language_pie {
    width: 326px;
    height: 326px;
    float: left;
  }
  #visualize_language_pie_legend {
    width: 200px;
    min-height: 125px;
    float: left;
    margin: 2em 0 0 2.5em;
  }
  #visualize_mood {
    min-width: 326px;
    width: 50%;
    min-height: 435px;
    float: left;
    margin: 2em 0 2em 0;
  }
  #visualize_mood_emoticon {
    width: 326px;
    height: 324px;
    float: left;
  }
  #visualize_mood_topics {
    width: 270px;
    min-height: 100px;
    float: left;
    margin: 2em 0 0 2.25em;
  }
  #visualize_mood_topics div.topic_container {
    float: left;
    margin: 0 1.5em 2.5em 0;
  }
  /* Visualize - Common Words */
  #visualize_common {
    margin: 0 0 60px 0;
  }
  div.common_words {
    width: 100%;
    margin: 15px 0;
    padding: 10px 20px;
  }
  div.common_words_line {
    width: 100%;
    height: 1px;
    background: #999999;
  }
  div.common_words_count {
    width: 80px;
    height: 100%;
    margin-right: 20px;
    text-align: center;
    float: left;
    font-size: 36px;
    border-right: 1px solid #333333;
  }
  div.common_words_words {
    margin-top: 6px;
    font-style: italic;
    font-size: 24px;
    line-height: 30px;
    color: #888888;
    text-transform: capitalize;
  }
  /* Visualize - Strong Experiences */
  #visualize_experiences {
    margin: 0 0 60px 0;
  }
  #strong_experiences {
    margin-bottom: 45px;
  }
  div.strong_experience {
    margin-bottom: 25px;
  }
  div.strong_experience_circle {
    float: left;
  }
  div.strong_experience_experience {
    float: left;
    margin-top: 12px;
    margin-left: 20px;
    font-style: italic;
    font-size: 24px;
    line-height: 30px;
    color: #888888;
  }
  span.strong_experience_date {
    display: block;
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    color: #333333;
  }
}
/* Web Only */
@media only screen and (min-width: 1025px) {
  /* Visualize - Language */
  #user_word_container {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  #user_word_colors {
    width: 100px;
    height: 625px;
    float: left;
    margin-right: 25px;
  }
  #user_word_map {
    width: 100%;
    height: 625px;
    float: left;
  }
  .word_map_column {
    width: 80px;
    height: 600px;
    float: left;
    border-radius: 40px;
    text-align: center;
  }
  .word_map_column:hover {
    background: #d9d9d9;
  }
  .type_swatch {
    width: 100px;
    height: 75px;
    display: block;
    padding-top: 25px;
    font-size: 12px;
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
    text-align: center;
    text-transform: uppercase;
  }
  .color_swatch {
    width: 30px;
    height: 30px;
    border-radius: 16px;
    display: block;
    margin: 0 auto 10px auto;
    border: 1px solid #c3c3c3;
  }
  span.language-map-emoticons {
    margin: 5px 15px 10px 0px;
    float: left;
  }
  span.language-map-experience {
    float: left;
    max-width: 150px;
    display: block;
    margin: 5px 0 5px 0;
  }
  span.language-map-experience i {
    color: #999999;
    font-size: 12px;
    font-style: italic;
    display: block;
  }
  /* Visualize - Search */
  #search_title {
    float: left;
  }
  #search_title select {
    position: relative;
    top: -7px;
    left: 0px;
  }
  #start_time {
    margin: 0px 10px 0px 15px;
  }
  #start_meridian {
    margin: 0px 15px 0px 5px;
  }
  #end_time {
    margin: 0px 10px 0px 15px;
  }
  #end_meridian {
    margin: 0px 15px 0px 5px;
  }
  #search_button {
    float: left;
    margin: 2px 0px 0px 20px;
  }
  /* Search Results */
  #search_visualization {
    width: 100%;
    overflow: scroll;
    clear: both;
  }
  #search_visualization h3 {
    font-size: 24px;
    font-style: italic;
    color: #999999;
  }
  #search_visualization_none {
    width: 500px;
    font-size: 24px;
    font-style: italic;
    color: #999999;
  }
  div.search_mood_row {
    min-width: 230px;
    font-size: 18px;
    border-bottom: 1px solid #999;
    clear: both;
  }
  div.search_mood_emoticon {
    height: 200px;
    text-align: center;
    float: left;
    margin-right: 45px;
  }
  div.search_mood_emoticon img {
    height: 200px;
  }
  div.search_mood_pie_chart {
    width: 210px;
    height: 210px;
    float: left;
    margin-top: 15px;
  }
  /* Topics - SHOULD Work in Multiple Search Types */
  div.search_mood_topics {
    width: 400px;
    min-height: 210px;
    float: left;
    margin-top: 15px;
  }
  /* Words - SHOULD Work in Multiple Search Types */
  div.search_mood_words {
    width: 250px;
    float: left;
    margin-top: 15px;
  }
  div.search_words_row {
    border-bottom: 1px solid #999;
    margin: 10px 0px;
  }
  div.search_words_count {
    width: 45px;
    border-right: 1px solid #999;
    color: #999;
    font-style: italic;
    font-size: 18px;
    float: left;
    text-align: center;
  }
  div.search_words_words {
    width: 185px;
    font-size: 18px;
    float: left;
    margin-left: 15px;
    margin-bottom: 10px;
  }
  /* Blog & Comments Module */
  div.content_container {
    width: 675px;
    background-color: #FEFEFE;
    border-radius: 15px;
    padding: 20px 25px;
    margin: 25px 0;
    border: 1px solid #C9C9C9;
  }
  #comments {
    width: 645px;
    margin: 45px 0 45px 0;
  }
  #comments ul {
    margin: 0;
  }
  #comments ul li {
    margin: 0 0 35px 0;
  }
  #comments ul.comment_actions li {
    margin: 0 0 0 15px;
  }
  #comments_list {
    width: 450px;
    margin: 25px 0 0 0;
  }
  #comments_list li {
    margin: 0 0 15px 0;
  }
  #comments_write {
    width: 450px;
    margin: 0;
  }
  #comments_write li {
    margin: 0;
  }
  li.comment {
    margin: 0;
    clear: both;
    display: block;
  }
  li.comment:hover ul.comment_actions {
    visibility: visible;
  }
  span.comment_thumbnail {
    width: 48px;
    height: 48px;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    float: left;
    margin: 0 12px 35px 0;
  }
  span.comment {
    width: 375px;
    display: block;
    margin: 0;
    line-height: 21px;
    position: relative;
    top: -4px;
    left: 0;
    float: left;
  }
  span.comment_date {
    width: 175px;
    display: block;
    margin: 0;
    font-size: 12px;
    color: #999999;
  }
  li.sub_comment {
    margin: 0 0 20px 0;
    clear: both;
  }
  li.sub_comment:hover ul.comment_actions {
    visibility: visible;
  }
  span.sub_comment_thumbnail {
    width: 48px;
    height: 48px;
    display: block;
    position: relative;
    top: 0;
    left: 65px;
    float: left;
    margin: 0 12px 35px 0;
  }
  span.sub_comment {
    width: 325px;
    display: block;
    margin: 0;
    line-height: 21px;
    position: relative;
    top: -4px;
    left: 62px;
    float: left;
  }
  span.sub_comment_date {
    width: 175px;
    display: block;
    margin: 0;
    font-size: 12px;
    color: #999999;
  }
  span.comment_write {
    width: 375px;
    display: block;
    margin: 0;
    line-height: 21px;
    position: relative;
    top: -4px;
    left: 0;
    float: left;
  }
  #comment_name {
    width: 315px;
    margin: 0 0 10px 0;
  }
  #comment_email {
    width: 315px;
    margin: 0 0 0 0;
  }
  #comment_write_text {
    width: 315px;
    margin: 10px 0 5px 0;
  }
  ul.comment_actions {
    position: relative;
    top: -20px;
    right: 12px;
    margin: 0;
    list-style: none;
    float: right;
    visibility: hidden;
  }
  ul.comment_actions li {
    float: left;
    margin: 0;
  }
  ul.comment_actions li a {
    color: #999999;
    font-size: 12px;
  }
  ul.comment_actions li a:visited {
    color: #999999;
    font-size: 12px;
  }
  ul.comment_actions li a:hover {
    color: #2078ce;
    font-size: 12px;
  }
  /* qTip2 Tooltips */
  /* qTip2 Tooltips */
  .ui-tooltip,
  .qtip {
    position: absolute;
    left: -28000px;
    top: -28000px;
    display: none;
    max-width: 300px;
    min-width: 50px;
    font-size: 10.5px;
    line-height: 12px;
  }
  .ui-tooltip-fluid {
    display: block;
    visibility: hidden;
    position: static!important;
    float: left!important;
  }
  .ui-tooltip-content {
    position: relative;
    padding: 5px 9px;
    border: 1px solid #000001;
    text-align: left;
    word-wrap: break-word;
    overflow: hidden;
  }
  .ui-tooltip-titlebar {
    position: relative;
    min-height: 14px;
    padding: 5px 35px 5px 10px;
    overflow: hidden;
    border: 1px solid #000001;
    border-width: 1px 1px 0;
    font-weight: bold;
  }
  .ui-tooltip-titlebar + .ui-tooltip-content {
    border-top-width: 0!important;
  }
  .ui-tooltip-titlebar .ui-state-default {
    position: absolute;
    right: 4px;
    top: 50%;
    margin-top: -9px;
    cursor: pointer;
    outline: medium none;
    border-width: 1px;
    border-style: solid;
  }
  * html .ui-tooltip-titlebar .ui-state-default {
    top: 16px;
  }
  .ui-tooltip-titlebar .ui-icon,
  .ui-tooltip-icon .ui-icon {
    display: block;
    text-indent: -1000em;
  }
  .ui-tooltip-icon,
  .ui-tooltip-icon .ui-icon {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }
  .ui-tooltip-icon .ui-icon {
    width: 18px;
    height: 14px;
    text-align: center;
    text-indent: 0;
    font: normal bold 10px/13px Tahoma, sans-serif;
    color: inherit;
    background: transparent none no-repeat -100em -100em;
  }
  .ui-tooltip-default .ui-tooltip-titlebar,
  .ui-tooltip-default .ui-tooltip-content {
    border-color: #F1D031;
    background-color: #FFFFA3;
    color: #555;
  }
  .ui-tooltip-default .ui-tooltip-titlebar {
    background-color: #FFEF93;
  }
  .ui-tooltip-default .ui-tooltip-icon {
    border-color: #CCC;
    background: #F1F1F1;
    color: #777;
  }
  .ui-tooltip-default .ui-tooltip-titlebar .ui-state-hover {
    border-color: #AAA;
    color: #111;
  }
  .ui-tooltip .ui-tooltip-tip {
    margin: 0 auto;
    overflow: hidden;
    z-index: 10;
  }
  .ui-tooltip .ui-tooltip-tip,
  .ui-tooltip .ui-tooltip-tip * {
    position: absolute;
    line-height: .1px!important;
    font-size: .1px!important;
    color: #123456;
    background: transparent;
    border: 0 dashed transparent;
  }
  .ui-tooltip .ui-tooltip-tip canvas {
    top: 0;
    left: 0;
  }
  #qtip-overlay {
    position: fixed;
    left: -10000em;
    top: -10000em;
  }
  #qtip-overlay.blurs {
    cursor: pointer;
  }
  #qtip-overlay div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  }
  .ui-tooltip-tipsy {
    border: 0;
  }
  .ui-tooltip-tipsy .ui-tooltip-titlebar,
  .ui-tooltip-tipsy .ui-tooltip-content {
    margin-bottom: 0;
    background: rgba(0, 0, 0, 0.87);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#d90000, endColorstr=#d90000);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#d90000, endColorstr=#d90000);
    color: white;
    border: 0 transparent;
    font-size: 14px;
    font-family: 'Lucida Grande', sans-serif;
    font-weight: bold;
    line-height: 21px;
    text-shadow: 0 1px black;
  }
  .ui-tooltip-tipsy .ui-tooltip-titlebar {
    padding: 6px 35px 0 10px;
  }
  .ui-tooltip-tipsy .ui-tooltip-content {
    padding: 10px 16px;
  }
  .ui-tooltip-tipsy .ui-tooltip-icon {
    border-color: #222;
    text-shadow: none;
  }
  .ui-tooltip-tipsy .ui-tooltip-titlebar .ui-state-hover {
    border-color: #303030;
  }
  .ui-tooltip:not(.ie9haxors) div.ui-tooltip-content,
  .ui-tooltip:not(.ie9haxors) div.ui-tooltip-titlebar {
    filter: none;
    -ms-filter: none;
  }
}
