@font-face {
	font-family: 'Icon-Topics';
	src:url('../fonts/Icon-Topics.eot');
	src:url('../fonts/Icon-Topics.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Icon-Topics.woff') format('woff'),
		url('../fonts/Icon-Topics.ttf') format('truetype'),
		url('../fonts/Icon-Topics.svg#Icon-Topics') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'Icon-Topics';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-topics-writing, .icon-topics-work, .icon-topics-weapons, .icon-topics-violence, .icon-topics-urban, .icon-topics-undecided, .icon-topics-travel, .icon-topics-transportation, .icon-topics-touch, .icon-topics-time, .icon-topics-technology, .icon-topics-talking, .icon-topics-sports, .icon-topics-sound, .icon-topics-social, .icon-topics-smell, .icon-topics-sleep, .icon-topics-slang, .icon-topics-significance, .icon-topics-sexuality, .icon-topics-science, .icon-topics-romance, .icon-topics-religion, .icon-topics-psychological, .icon-topics-posession, .icon-topics-politics, .icon-topics-places, .icon-topics-philosophy, .icon-topics-performing, .icon-topics-perception, .icon-topics-people, .icon-topics-office, .icon-topics-ocean, .icon-topics-objects, .icon-topics-numbers, .icon-topics-news, .icon-topics-nature, .icon-topics-names, .icon-topics-music, .icon-topics-movement, .icon-topics-moral, .icon-topics-medicine, .icon-topics-measurement, .icon-topics-legal, .icon-topics-internet, .icon-topics-intelligence, .icon-topics-hygiene, .icon-topics-humor, .icon-topics-home, .icon-topics-health, .icon-topics-gibberish, .icon-topics-gender, .icon-topics-games, .icon-topics-food, .icon-topics-financial, .icon-topics-feeling, .icon-topics-family, .icon-topics-exercise, .icon-topics-events, .icon-topics-entertainment, .icon-topics-education, .icon-topics-drugs, .icon-topics-deception, .icon-topics-culture, .icon-topics-crime, .icon-topics-companies, .icon-topics-common, .icon-topics-color, .icon-topics-clothing, .icon-topics-challenges, .icon-topics-caffeine, .icon-topics-body, .icon-topics-art, .icon-topics-architecture, .icon-topics-animals, .icon-topics-alcohol, .icon-topics-age, .icon-topics-activism {
	font-family: 'Icon-Topics';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-topics-writing:before {
	content: "\21";
}
.icon-topics-work:before {
	content: "\22";
}
.icon-topics-weapons:before {
	content: "\23";
}
.icon-topics-violence:before {
	content: "\24";
}
.icon-topics-urban:before {
	content: "\25";
}
.icon-topics-undecided:before {
	content: "\26";
}
.icon-topics-travel:before {
	content: "\27";
}
.icon-topics-transportation:before {
	content: "\28";
}
.icon-topics-touch:before {
	content: "\29";
}
.icon-topics-time:before {
	content: "\2a";
}
.icon-topics-technology:before {
	content: "\2b";
}
.icon-topics-talking:before {
	content: "\2c";
}
.icon-topics-sports:before {
	content: "\2d";
}
.icon-topics-sound:before {
	content: "\2e";
}
.icon-topics-social:before {
	content: "\2f";
}
.icon-topics-smell:before {
	content: "\30";
}
.icon-topics-sleep:before {
	content: "\31";
}
.icon-topics-slang:before {
	content: "\32";
}
.icon-topics-significance:before {
	content: "\33";
}
.icon-topics-sexuality:before {
	content: "\34";
}
.icon-topics-science:before {
	content: "\35";
}
.icon-topics-romance:before {
	content: "\36";
}
.icon-topics-religion:before {
	content: "\37";
}
.icon-topics-psychological:before {
	content: "\38";
}
.icon-topics-posession:before {
	content: "\39";
}
.icon-topics-politics:before {
	content: "\3a";
}
.icon-topics-places:before {
	content: "\3b";
}
.icon-topics-philosophy:before {
	content: "\3c";
}
.icon-topics-performing:before {
	content: "\3d";
}
.icon-topics-perception:before {
	content: "\3e";
}
.icon-topics-people:before {
	content: "\3f";
}
.icon-topics-office:before {
	content: "\40";
}
.icon-topics-ocean:before {
	content: "\41";
}
.icon-topics-objects:before {
	content: "\42";
}
.icon-topics-numbers:before {
	content: "\43";
}
.icon-topics-news:before {
	content: "\44";
}
.icon-topics-nature:before {
	content: "\45";
}
.icon-topics-names:before {
	content: "\46";
}
.icon-topics-music:before {
	content: "\47";
}
.icon-topics-movement:before {
	content: "\48";
}
.icon-topics-moral:before {
	content: "\49";
}
.icon-topics-medicine:before {
	content: "\4a";
}
.icon-topics-measurement:before {
	content: "\4b";
}
.icon-topics-legal:before {
	content: "\4c";
}
.icon-topics-internet:before {
	content: "\4d";
}
.icon-topics-intelligence:before {
	content: "\4e";
}
.icon-topics-hygiene:before {
	content: "\4f";
}
.icon-topics-humor:before {
	content: "\50";
}
.icon-topics-home:before {
	content: "\51";
}
.icon-topics-health:before {
	content: "\52";
}
.icon-topics-gibberish:before {
	content: "\53";
}
.icon-topics-gender:before {
	content: "\54";
}
.icon-topics-games:before {
	content: "\55";
}
.icon-topics-food:before {
	content: "\56";
}
.icon-topics-financial:before {
	content: "\57";
}
.icon-topics-feeling:before {
	content: "\58";
}
.icon-topics-family:before {
	content: "\59";
}
.icon-topics-exercise:before {
	content: "\5a";
}
.icon-topics-events:before {
	content: "\5b";
}
.icon-topics-entertainment:before {
	content: "\5c";
}
.icon-topics-education:before {
	content: "\5d";
}
.icon-topics-drugs:before {
	content: "\5e";
}
.icon-topics-deception:before {
	content: "\5f";
}
.icon-topics-culture:before {
	content: "\60";
}
.icon-topics-crime:before {
	content: "\61";
}
.icon-topics-companies:before {
	content: "\62";
}
.icon-topics-common:before {
	content: "\63";
}
.icon-topics-color:before {
	content: "\64";
}
.icon-topics-clothing:before {
	content: "\65";
}
.icon-topics-challenges:before {
	content: "\66";
}
.icon-topics-caffeine:before {
	content: "\67";
}
.icon-topics-body:before {
	content: "\68";
}
.icon-topics-art:before {
	content: "\69";
}
.icon-topics-architecture:before {
	content: "\6a";
}
.icon-topics-animals:before {
	content: "\6b";
}
.icon-topics-alcohol:before {
	content: "\6c";
}
.icon-topics-age:before {
	content: "\6d";
}
.icon-topics-activism:before {
	content: "\6e";
}
