@font-face {
	font-family: 'Icon-Topics';
	src:url('../fonts/Icon-Topics.eot');
	src:url('../fonts/Icon-Topics.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Icon-Topics.woff') format('woff'),
		url('../fonts/Icon-Topics.ttf') format('truetype'),
		url('../fonts/Icon-Topics.svg#Icon-Topics') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'Icon-Topics';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-topic-work, .icon-topic-weapons, .icon-topic-violence, .icon-topic-urban, .icon-topic-undecided, .icon-topic-transportation, .icon-topic-touch, .icon-topic-time, .icon-topic-talking, .icon-topic-sports, .icon-topic-sound, .icon-topic-social, .icon-topic-smell, .icon-topic-slang, .icon-topic-significance, .icon-topic-sexuality, .icon-topic-science, .icon-topic-psychological, .icon-topic-posession, .icon-topic-politics, .icon-topic-places, .icon-topic-philosophy, .icon-topic-perception, .icon-topic-people, .icon-topic-office, .icon-topic-objects, .icon-topic-numbers, .icon-topic-news, .icon-topic-nature, .icon-topic-names, .icon-topic-music, .icon-topic-movement, .icon-topic-moral, .icon-topic-medicine, .icon-topic-measurement, .icon-topic-love, .icon-topic-legal, .icon-topic-internet, .icon-topic-intelligence, .icon-topic-hygiene, .icon-topic-humor, .icon-topic-home, .icon-topic-health, .icon-topic-gibberish, .icon-topic-gender, .icon-topic-games, .icon-topic-food, .icon-topic-financial, .icon-topic-feeling, .icon-topic-family, .icon-topic-exercise, .icon-topic-education, .icon-topic-drugs, .icon-topic-culture, .icon-topic-crime, .icon-topic-companies, .icon-topic-common, .icon-topic-colors, .icon-topic-clothing, .icon-topic-challenges, .icon-topic-caffeine, .icon-topic-architecture, .icon-topic-animals, .icon-topic-alcohol, .icon-topic-age, .icon-topic-deception {
	font-family: 'Icon-Topics';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-topic-work:before {
	content: "\e000";
}
.icon-topic-weapons:before {
	content: "\e001";
}
.icon-topic-violence:before {
	content: "\e002";
}
.icon-topic-urban:before {
	content: "\e003";
}
.icon-topic-undecided:before {
	content: "\e004";
}
.icon-topic-transportation:before {
	content: "\e005";
}
.icon-topic-touch:before {
	content: "\e006";
}
.icon-topic-time:before {
	content: "\e007";
}
.icon-topic-talking:before {
	content: "\e008";
}
.icon-topic-sports:before {
	content: "\e009";
}
.icon-topic-sound:before {
	content: "\e00a";
}
.icon-topic-social:before {
	content: "\e00b";
}
.icon-topic-smell:before {
	content: "\e00c";
}
.icon-topic-slang:before {
	content: "\e00d";
}
.icon-topic-significance:before {
	content: "\e00e";
}
.icon-topic-sexuality:before {
	content: "\e00f";
}
.icon-topic-science:before {
	content: "\e010";
}
.icon-topic-psychological:before {
	content: "\e011";
}
.icon-topic-posession:before {
	content: "\e012";
}
.icon-topic-politics:before {
	content: "\e013";
}
.icon-topic-places:before {
	content: "\e014";
}
.icon-topic-philosophy:before {
	content: "\e015";
}
.icon-topic-perception:before {
	content: "\e016";
}
.icon-topic-people:before {
	content: "\e017";
}
.icon-topic-office:before {
	content: "\e018";
}
.icon-topic-objects:before {
	content: "\e019";
}
.icon-topic-numbers:before {
	content: "\e01a";
}
.icon-topic-news:before {
	content: "\e01b";
}
.icon-topic-nature:before {
	content: "\e01c";
}
.icon-topic-names:before {
	content: "\e01d";
}
.icon-topic-music:before {
	content: "\e01e";
}
.icon-topic-movement:before {
	content: "\e01f";
}
.icon-topic-moral:before {
	content: "\e020";
}
.icon-topic-medicine:before {
	content: "\e021";
}
.icon-topic-measurement:before {
	content: "\e022";
}
.icon-topic-love:before {
	content: "\e023";
}
.icon-topic-legal:before {
	content: "\e024";
}
.icon-topic-internet:before {
	content: "\e025";
}
.icon-topic-intelligence:before {
	content: "\e026";
}
.icon-topic-hygiene:before {
	content: "\e027";
}
.icon-topic-humor:before {
	content: "\e028";
}
.icon-topic-home:before {
	content: "\e029";
}
.icon-topic-health:before {
	content: "\e02a";
}
.icon-topic-gibberish:before {
	content: "\e02b";
}
.icon-topic-gender:before {
	content: "\e02c";
}
.icon-topic-games:before {
	content: "\e02d";
}
.icon-topic-food:before {
	content: "\e02e";
}
.icon-topic-financial:before {
	content: "\e02f";
}
.icon-topic-feeling:before {
	content: "\e030";
}
.icon-topic-family:before {
	content: "\e031";
}
.icon-topic-exercise:before {
	content: "\e032";
}
.icon-topic-education:before {
	content: "\e033";
}
.icon-topic-drugs:before {
	content: "\e034";
}
.icon-topic-culture:before {
	content: "\e035";
}
.icon-topic-crime:before {
	content: "\e036";
}
.icon-topic-companies:before {
	content: "\e037";
}
.icon-topic-common:before {
	content: "\e038";
}
.icon-topic-colors:before {
	content: "\e039";
}
.icon-topic-clothing:before {
	content: "\e03a";
}
.icon-topic-challenges:before {
	content: "\e03b";
}
.icon-topic-caffeine:before {
	content: "\e03c";
}
.icon-topic-architecture:before {
	content: "\e03d";
}
.icon-topic-animals:before {
	content: "\e03e";
}
.icon-topic-alcohol:before {
	content: "\e03f";
}
.icon-topic-age:before {
	content: "\e040";
}
.icon-topic-deception:before {
	content: "\e041";
}
